:root{
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
/* Back to top */
#back-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  text-decoration: none;
  padding: 15px;
  border-radius: 50%;
  color: yellow;
}
/* Top Nav */
.topnav {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.topnav a {
  text-decoration: none;
  color: black;
  align-content: center;
}
.topnav a:hover,
a.active {
  color: yellow;
}
/* Home */
.home {
  display: grid;
  margin-top: 30px;
  grid-template-areas: 
  'posts suggestions';
  grid-auto-columns: 2fr 1fr;
}
.posts{
  grid-area: posts;
}
.post{
  box-shadow: var(--shadow);
}
.image-header {
  display: grid;
  max-height: 50px;
  grid-template-columns: 1fr 1fr 1fr;
}
.image-header img {
  height: 40px;
}
.image-header p{
  margin-top: 0;
}
.details p,
.details a {
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  color: black;
}
.image {
  margin-top: 10px;
}
.image img {
  width: 100%;
}
.image-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.image-footer a,.image-footer p{
  margin-top:10px;
  text-decoration: none;
}
.image-footer i{
  margin-top:10px;
}
.suggestions{
  grid-area: suggestions;
}
@media (max-width:800px) {
  .home {
    grid-template-areas: 'posts';
    grid-template-columns: 1fr;
  }
  .suggestions {
    display: none;
  }
}