:root {
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
#back-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  text-decoration: none;
  padding: 15px;
  border-radius: 50%;
  color: yellow;
}
/* Top Nav */
.topnav {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.topnav a {
  text-decoration: none;
  color: black;
  align-content: center;
}
.topnav a:hover,
a.active {
  color: yellow;
}
/* People */
.people {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  margin-left: 20%;
  margin-right: 20%;
}
.search{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-gap: 30px;
}
/* Request */
.request {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 80px;
  box-shadow: var(--shadow);
  text-align: center;
  grid-gap: 10px;
}
.request img {
  height: 50px;
  align-self: center;
  justify-self: center;
}
.request p {
  margin-right: 0px;
}
.request button {
  max-height: 30px;
  max-width: 100px;
  align-self: center;
  margin-right: 0px;
}
.request button:hover {
  color: black;
  background-color: yellow;
}
.request p {
  align-self: center;
}
@media (max-width: 800px) {
  .people {
    margin-left: 0;
    margin-right: 0;
  }
  .request img {
    height: 30px;
  }
}
