:root {
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
/* Back to top */
#back-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  text-decoration: none;
  padding: 15px;
  border-radius: 50%;
  color: yellow;
}
.header{
    text-align: center;
}
/* List */
.requests{
    margin-left: 10%;
    margin-right: 10%;
}
.request {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 80px;
  box-shadow: var(--shadow);
}
.request img {
  height: 50px;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
}
.request p {
  margin-right: 0px;
  text-align: center;
}
.request button {
  max-height: 30px;
  max-width: 100px;
  align-self: center;
  margin-right: 0px;
}
.request button:hover {
  color: black;
  background-color: yellow;
}
.request p {
  align-self: center;
}
@media (max-width:650px){
    .requests{
        margin-left: 0;
        margin-right: 0;
    }
}