:root {
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
/* Back to top */
#back-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  text-decoration: none;
  padding: 15px;
  border-radius: 50%;
  color: yellow;
}
/* Posts */
.post {
  box-shadow: var(--shadow);
  width: 80%;
  margin-left: 10%;
}
.image-header {
  display: grid;
  max-height: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.image-header img {
  height: 40px;
  margin-top: 10px;
}
.image-header p {
  margin-top: 0;
}
.details p,
.details a {
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  color: black;
}
.image {
  margin-top: 10px;
}
.image img {
  width: 100%;
}
.image-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.image-footer a,
.image-footer p {
  margin-top: 10px;
  text-decoration: none;
}
.image-footer i {
  margin-top: 10px;
}
@media (max-width: 800px) {
  .post {
    width: 100%;
    margin-left: 0;
  }
  .image-header img {
    height: 30px;
  }
}

/* Comment */
.comment {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 15px;
  margin-left: 10%;
  margin-right: 10%;
}
.commentInput {
  box-shadow: var(--shadow);
}
.commentBtn {
  box-shadow: var(--shadow);
}
@media (max-width: 800px) {
  .comment {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 800px) {
  .comment {
    grid-template-columns: 5fr 1fr;
  }
}
/* Comments */
.Comments {
  box-shadow: var(--shadow);
  margin-top: 20px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-gap: 10px;
}
.userComment {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  box-shadow: var(--shadow);
}
.delete{
    display: none;
    margin:20px 20px 20px 20px;
}
@media (max-width: 800px) {
  .Comments {
    margin-left: 0;
    margin-right: 0;
  }
}
