:root{
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.header{
    text-align: center;
}
.Image{
    margin-left: 40%;
    margin-bottom: 30px;
}
.Upload{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 30px;
}
.public{
    justify-self: end;
}
.send{
    margin-left: 45%;
}
button:hover{
    background: yellow;
}
.Image:hover{
    background-color: yellow;
}
.preview{
    width:100%;
}
@media (max-width:500px){
    .Image{
        margin-left: 0;
    }
    .Upload{
        grid-template-columns: 1fr;
    }
    .public{
        justify-self: start;
    }
}